{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Radley|Ruthie&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/vendor_list.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/style_info.css' %}">
        <link rel="stylesheet" href="{% static 'homepage.css' %}">
        <title>Merrit</title>
    </head>
    <body>
            <nav class="navbar navbar-expand navbar-light container" id="navbar">
              <a class="navbar-brand" href="/" style="font-family: 'Ruthie', cursive;">Merrit</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/" id="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/vendor_list/" id="vendors">Vendors</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link" id="about">About Us</a>
                  </li>
                </ul>
              </div>
            </nav>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            let isHomepage = document.getElementById('homepage');
            let isVendor = document.getElementById('vendors-lists');
            let isVendorInfo = document.getElementById('vendor-info');
            let menus = document.getElementsByClassName("nav-link");

            if(isHomepage !== null){
                document.getElementById('navbar').classList.add("fixed-top")
                activate('home')
            }else if(isVendor !== null || isVendorInfo !== null){
                activate('vendors')
            }

            function activate(id) {
                for (var i = 0; i < menus.length; i++) {
                    menus[i].classList.remove("active");
                }
                document.getElementById(id).classList.add("active")
            }
        </script>
    </body>
</html>