html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

.no-style:focus, .no-style:active{
  outline: none;
  box-shadow: none;
}
body{
      font-family: 'Radley', serif;
}